%h1#tables Lifters
.bs-component
  %table.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        %th name
        %th BP出場回数
        %th PL出場回数
        
      %tbody
        - @lifters.each do |lifter|
          %tr
            %td= link_to lifter.name, "/lifters/#{lifter.id}" 
            %td= lifter.bp_count
            %td= lifter.pl_count
            
        
